[submodule "Hazel_DK/vendor/spdlog"]
	path = Hazel_DK/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel_DK/vendor/GLFW"]
	path = Hazel_DK/vendor/GLFW
	url = https://github.com/DaveKobrin/glfw
[submodule "Hazel_DK/vendor/imgui"]
	path = Hazel_DK/vendor/imgui
	url = https://github.com/DaveKobrin/imgui
[submodule "Hazel_DK/vendor/glm"]
	path = Hazel_DK/vendor/glm
	url = https://github.com/g-truc/glm
